{% extends "base2.html" %}

{% block cuerpo %}
<div class="row"> <!--La fila -->
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--Columna izquierda -->
    <h1>Agregar Producto</h1>
    <div class="card"> <!--La tarjeta -->
      <div class="card-body">
        <form action="registrarProductos/" method="POST"> {% csrf_token %}
          <div class="form-group">
            <input type="text" id="idproducto" name="idproducto" class="form-control" placeholder="id_producto" minlenght="1" maxlenght="5" required><br>
          </div>
          <div class="form-group py-1">
            <input type="text" id="idcategoria" name="idcategoria" class="form-control" placeholder="id_categoria" maxlenght="5" required><br>
          </div>
          <div class="form-group">
            <input type="text" id="idproveedor" name="idproveedor" class="form-control" placeholder="id_proveedor" min="1" max="5" required><br>
          </div>
          <div class="form-group">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" required><br>
          </div>
          <div class="form-group">
            <input type="text" id="floatprecio" name="floatprecio" class="form-control" placeholder="Precio" required><br>
          </div>
          <div class="form-group">
            <input type="text" id="txtalla" name="txtalla" class="form-control" placeholder="Talla" required><br>
          </div>
          <div class="form-group">
            <input type="text" id="txtcolor" name="txtcolor" class="form-control" placeholder="Color" required><br>
          </div>
          <div class="form-group py-1">
            <button type="submit" class="btn btn-dark">Guardar Producto</button>
          </div>
        </form>
      </div>
    </div> <!--La tarjeta -->
  </div> <!--Columna izquierda -->

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!--Columna derecha -->
  <h1>Listado de Productos</h1>
  <!--La tabla -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id_producto</th>
        <th scope="col">id_categoria</th>
        <th scope="col">id_proveedor</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Talla</th>
        <th scope="col">Color</th>
        <th> Opciones </th>
      </tr>
    </thead>
    <tbody>
      {% for m in losproductos %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{m.id_producto}}</td>
          <td>{{m.id_categoria}}</td>
          <td>{{m.id_proveedor}}</td>
          <td>{{m.nombre}}</td>
          <td>{{m.precio}}</td>
          <td>{{m.talla}}</td>
          <td>{{m.color}}</td>
          <td><a href="seleccionarProductos/{{m.id_producto}}" class="btn btn-info">Editar</a></td> 
          <td><a href="borrarProductos/{{m.id_producto}}" class="btn btn-danger">Borrar</a></td> 
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--La tabla -->
</div> <!--Columna derecha -->
  
</div> <!--La fila -->
{% endblock %}